In [1]:
import pandas as pd

## Series

In [2]:
data = [1, 2, 3, 4, 5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data, index = index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [9]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [10]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [11]:
s = pd.Series(data)

In [12]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
s1 = s + 2

In [14]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [15]:
s2 = s + s1

In [16]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

## DataFrame

In [17]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
df1 = pd.DataFrame(data)

In [20]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
index = ['Linha' + str(i) for i in range(3)]

In [23]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [26]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [27]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [28]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

# Exerc√≠cios

In [30]:
df1 = pd.DataFrame({'A': {'X':1}, 'B':{'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
df1

   A  B
X  1  2

In [31]:
df2

   C  D
X  3  4

In [32]:
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [33]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'], index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [ ]:
dados = [[1, 2, 3], [4, 5, 6]]

In [39]:
index = 'X, Y'.split(',')
index

['X', ' Y']

In [40]:
columns = list('CBA')[::-1]
columns

['A', 'B', 'C']

In [42]:
df = pd.DataFrame(dados, index, columns)
df

    A  B  C
X   1  2  3
 Y  4  5  6